body{
    background-image: url('../img/bg.jpg');
}

#uploader-collumn{
    width: 500px;
    background-color: transparent;
    border: 0px dotted #c5c5c5;
    float: left;
}

#listfiles{
    margin-left: 15px;
    float: left;
    background-color: transparent;
    border: 0px dotted #c5c5c5;
    width: 500px;
    height: 900px;
}

#files-item {
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    border-radius:10px;
    -moz-border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    background-image: -moz-linear-gradient(top, #ffcc00, #FFFF99);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#FFFF99));
    font-size: 9px;
}

#icon-code{
    width: 32px;
    height: 32px;
    float: right;
    background-image: url('../img/code.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#icon-play{
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px;
    background-image: url('../img/play2.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#icon-poster{
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 5px;
    background-image: url('../img/poster.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#icon-del{
    width: 32px;
    height: 32px;
    float: right;
    margin-right: 5px;
    background-image: url('../img/delete.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

#s-code{
    width: 100%;
    height: 100%;
}
