<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>FISL - Ao Vivo</title>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<!-- <link rel="stylesheet" href="/resources/demos/style.css" /> -->
    <link href="{{url_for('static', filename='mep/build/mediaelementplayer.min.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='mep/build/mediaelement-and-player.min.js')}}"></script>
	<script>
	$(function() {
		$( "#tabs" ).tabs();
		$( "video" ).mediaelementplayer();
	});
	</script>
</head>
<body>
	<div id="tabs">
		<ul>
      <li><a href="#tabs-1">Sala 40A</a></li>
      <li><a href="#tabs-2">Sala 40T</a></li>
      <li><a href="#tabs-3">Sala 41A</a></li>
      <li><a href="#tabs-4">Sala 41B</a></li>
      <li><a href="#tabs-5">Sala 41C</a></li>
      <li><a href="#tabs-6">Sala 41D</a></li>
      <li><a href="#tabs-7">Sala 41E</a></li>
      <li><a href="#tabs-8">Sala 41F</a></li>
		</ul>
		<div id="tabs-1">
			    <video src="http://hemingway.softwarelivre.org:8000/sala40a.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-2">
			    <video src="http://hemingway.softwarelivre.org:8000/sala40t.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-3">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41a.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-4">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41b.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-5">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41c.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-6">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41d.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-7">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41e.ogg" width="400" height="300"></video>
		</div>
		<div id="tabs-8">
			    <video src="http://hemingway.softwarelivre.org:8000/sala41f.ogg" width="400" height="300"></video>
		</div>
	</div>
</body>
</html>