﻿<!doctype html>
<html>
    <head>
        <title>Uploader de Vídeos</title>
        <link href="{{url_for('static',filename='css/layout.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class=page>
            
          <h1>Login</h1>
          
          {% for message in get_flashed_messages() %}
            <div class=flash>{{ message|safe }}</div>
          {% endfor %}
        
          <form action="" method=post>
            <dl>
              <dt><label for="username">Username</label>:
              <dd><input type=text name=username>
              <dt><label for="password">Password</label>:
              <dd><input type=password name=password>
              <dt>&nbsp;</dt>
              <dd><input type=submit value=Login>
            </dl>
          </form>
          
        </div>
    </body>
</html>