<html lang="pt-br">
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <link href="{{url_for('static', filename='mep/build/mediaelementplayer.min.css')}}" rel="stylesheet">
        <script src="{{url_for('static',filename='mep/build/mediaelement-and-player.min.js')}}"></script>
    </head>
    <body>
        <video id="{{filename}}" width="{{w}}" height="{{h}}"
            {% if poster %}
            poster="http://{{url}}/poster/{{filename}}"
            {% endif %} >
            <source src="http://{{url}}/v/{{filename}}" type='{{video_type}}'>

            <object width="{{w}}" height="{{h}}" type="application/x-shockwave-flash" 
            data="{{url_for('static',filename='mep/build/flashmediaelement.swf')}}">
                <param name="movie" value="{{url_for('static',filename='mep/build/flashmediaelement.swf')}}" />
                <param name="flashvars" value="controls=true&amp;file=http://{{url}}/v/{{filename}}" />
                <!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
                <img src="http://{{url}}/poster/{{filename}}" width="{{w}}" height="{{h}}" 
                alt="Alternative player" title="No HTML5 video playback capabilities" />
            </object>   
        </video>
        
        <script>
        $(document).ready(function () {
            $('video').mediaelementplayer();
        });
        </script>
    </body>
</html>